<h1>{{name}}</h1>

<table>
  <tr>
    <th>
      Attack:
    </th>
    <td>
      {{attack}}
    </td>
  </tr>
  <tr>
    <th>
      Defense:
    </th>
    <td>
      {{defense}}
    </td>
  </tr>
  <tr>
    <th>
      Evolve Level:
    </th>
    <td>
      {{evolveLevel}}
    </td>
  </tr>
  <tr>
    <th>
      type:
    </th>
    <td>
      {{type}}
    </td>
  </tr>
</table>
