<table>
  <tbody>
    <tr>
      <th>
        Title:
      </th>
      <td>
        {{title}}
      </td>
    </tr>
    <tr>
      <th>
        Artist:
      </th>
      <td>
        {{artist}}
      </td>
    </tr>
    <tr>
      <th>
        Album:
      </th>
      <td>
        {{album}}
      </td>
    </tr>
    <tr>
      <th>
        Description:
      </th>
      <td>
        {{description}}
      </td>
    </tr>
    <tr>
      <th>
        <a href="/songs/edit/{{id}}">Edit</a>
      </th>
    </tr>
  </tbody>
</table>
